@charset "utf-8";
/* zm17180 橋本龍星　20180518*/
h1{
color: #0000ff;
Background-color:#00ffff;
}
h2{
color: #00ff00;
Background-color:#ffb6c1;
}
h3{
color: #ff0000;
Background-color:#adff2f;
}

